#background {
  background-color: rgb(180, 204, 203);
}

nav,
.page-footer {
  background-color: rgb(75, 91, 160);
}

.circle {
  margin-top: 5%;
  height: 20%;
  width: 15%;
}

.fa-github {
  height: 10%;
}

.contactInfo {
  color: white;
}

.btn {
  width: 8rem;
}

.revealBtn a {
  display: flex;
  justify-content: center;
}

.revealBtn i {
  height: 20px;
}

.card-reveal {
  background-color: gray;
}

.card-reveal p {
  font-size: 0.70rem;
}

.cardBtn {
  display: flex;
  justify-content: center;
  width: auto;
}

.card-content p {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .btn {
    width: 6rem;
    font-size: .5rem;
  }
}

@media only screen and (max-width: 992px) {
  .btn {
    width: 6rem;
    font-size: .5rem;
  }
  .card-reveal p {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 600px) {
  .revealBtn a {
    display: flex;
    align-items: baseline;
  }
  .card-reveal p {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 1024px) {
  .revealBtn a {
    display: flex;
    align-items: baseline;
  }
  .card-reveal p {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 600px) {
  .btn {
    width: 6rem;
    font-size: .5rem;
  }
}