#background {
  background-color: lightgray;
  size: cover;
}

.modalBtn {
  justify-content: right;
}

#modal1 {
  border-radius: 5%;
}

.bio {
  background-color: gray;
  size: cover;
  margin-top: 3%;
  border-radius: 12px;
}

.bio p {
  margin-top: 7%;
  color: white;
  font-size: 1.5rem;
}

nav {
  background-color:gray;
  size: cover;
}

.card-content h6 {
  text-align: center;
  font-weight: bold;
}

.page-footer {
  background-color: gray;
  /* size: cover !important; */
  
}

.responsive-img {
  float: left;
  margin: 2%;
  height: 25%;
  width: 20%;
  border-radius: 5%;
}

.card,
.card-image {
  border-radius: 5%;
}

.fa-github {
  height: 10%;
}

.contactInfo {
  color: black;
}

.btn {
  width: 8rem;
}

.revealBtn a {
  display: flex;
  justify-content: center;
}

.revealBtn i {
  height: 20px;
}

.card-reveal {
  background-color: gray;
}

.card-reveal p {
  font-size: 0.7rem;
}

.cardBtn {
  display: flex;
  justify-content: center;
  width: auto;
}

.card-content p {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .btn {
    width: 6rem;
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .btn {
    width: 6rem;
    font-size: 0.5rem;
  }
  .card-reveal p {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 600px) {
  .revealBtn a {
    display: flex;
    align-items: baseline;
  }
  .card-reveal p {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 1024px) {
  .revealBtn a {
    display: flex;
    align-items: baseline;
  }
  .card-reveal p {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 600px) {
  .btn {
    width: 6rem;
    font-size: 0.5rem;
  }
}
